<div class="footer-container">
  <div class="footer-content">
    <p>
      Hey awesomeness! Good to see you here. We are so glad you can join us
      today. This application is a demo application written by Sander Molenkamp
      and Eduard Keilholz for their talk '50 Years of software development, what
      could possibly go wrong?'.
    </p>
    <p>
      Want to see the source code? Check out
      <a
        href="https://github.com/nikneem/what-could-possibly-go-wrong"
        target="_blank"
      >
        this repository</a
      >.
    </p>
  </div>
</div>
