.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 212 180);
  --md-sys-color-surface-tint: rgb(255 183 123);
  --md-sys-color-on-primary: rgb(61 30 0);
  --md-sys-color-primary-container: rgb(195 130 74);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 211 191);
  --md-sys-color-on-secondary: rgb(68 24 0);
  --md-sys-color-secondary-container: rgb(201 127 87);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 211 192);
  --md-sys-color-on-tertiary: rgb(69 23 0);
  --md-sys-color-tertiary-container: rgb(201 126 90);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 12);
  --md-sys-color-on-background: rgb(239 224 214);
  --md-sys-color-surface: rgb(25 18 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(81 68 59);
  --md-sys-color-on-surface-variant: rgb(236 217 203);
  --md-sys-color-outline: rgb(193 175 162);
  --md-sys-color-outline-variant: rgb(158 141 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(239 224 214);
  --md-sys-color-inverse-on-surface: rgb(49 40 34);
  --md-sys-color-inverse-primary: rgb(109 60 7);
  --md-sys-color-primary-fixed: rgb(255 220 194);
  --md-sys-color-on-primary-fixed: rgb(31 12 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 123);
  --md-sys-color-on-primary-fixed-variant: rgb(85 44 0);
  --md-sys-color-secondary-fixed: rgb(255 219 203);
  --md-sys-color-on-secondary-fixed: rgb(35 9 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 182 145);
  --md-sys-color-on-secondary-fixed-variant: rgb(91 39 6);
  --md-sys-color-tertiary-fixed: rgb(255 219 204);
  --md-sys-color-on-tertiary-fixed: rgb(36 9 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 182 147);
  --md-sys-color-on-tertiary-fixed-variant: rgb(92 39 9);
  --md-sys-color-surface-dim: rgb(25 18 12);
  --md-sys-color-surface-bright: rgb(76 67 59);
  --md-sys-color-surface-container-lowest: rgb(12 6 3);
  --md-sys-color-surface-container-low: rgb(36 28 22);
  --md-sys-color-surface-container: rgb(47 38 32);
  --md-sys-color-surface-container-high: rgb(58 49 42);
  --md-sys-color-surface-container-highest: rgb(69 60 53);
}
